.container{
    overflow: auto;
    height: 70vh;
    width: 100%;
}
.cell{
    width: 20%;
    
    &-odd{
        background-color: #00000022; 
    }

    &-cancelled{
        color: red;
    }

    &-declined{
        color: red;
    }

    &-confirmed{
        color: orange;
    }

    &-delivered{
        color: green;
    }
}

.row{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}